/* HERO */
.hero-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;  
  filter: invert(1) brightness(1) contrast(1.2) hue-rotate(10deg) saturate(180%) grayscale(0.8) sepia(0%)
}

.hero-container h1 {
  position: relative;
  font-size: 10vw;
  font-weight: 400;
  line-height: 10vw;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.hero-container span {
  position: absolute;
  z-index: 1;
  font-family: "Rasa", serif;
  font-size: 5vw;
  font-style: italic;
}

.line-1,
.line-2,
.line-3 {
  padding: 0.25rem;
  border-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;

}

.line-1 {
  margin-top: 10vh;
  margin-left: -10%;
  animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: 0.5s;
}

.line-1 span {
  right: 101%;
  text-wrap: nowrap;
	animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 0.5s;
}

.line-2 {
  margin-left: 35%;
	animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 1s;
}

.line-2 span {
  left: 101%;
}

.line-3 {
  margin-left: -30%;
	animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 1.5s;
}

.line-3 img {
  z-index: 2;
  width: 10vw;
  filter: invert(1);
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.line-1:hover,
.line-2:hover,
.line-3:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ABOUT */
.about-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.shaded-area {
  z-index: 1; 
  height: 20vh; 
  opacity: 0.99; 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: black;
  box-shadow: 0 -15px 80px 40px rgba(0, 0, 0, 0.7);
}

