/* About.css */

.about-container {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.about-container>div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.left {
  padding-top: 20vh;
  padding-left: 10vw;
}

.left h4 {
  font-weight: 200;
}

.left h1 {
  font-weight: 200; 
  letter-spacing: 0.1rem;
}

.right {
  padding-left: 65vw;
}
.right.variation {
  padding-left: 55vw;
}

.header {
  margin-bottom: 3vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.img-1{
  width: 30vw;
  height: 40vh;
  margin-left: 40vw;
}

.img-2 {
  width: 30vw;
  height: 40vh;
  margin-left: 65vw;
}

.element {
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


