.about-container {
  position: relative;
  margin: 0;
  height: 90vh;
  width: 100vw;
  display: flex;
}

.about-container>div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.left {
  padding-top: 20vh;
  padding-left: 10vw;
}

.left h4 {
  font-weight: 200;
  font-family: "Rasa", serif;
  font-size: 2vw;
  font-style: italic;
}

.left h1 {
  max-width: 30vw;
  font-weight: 200; 
  letter-spacing: 0.1rem;
  font-size: 3vw;
}

.right {
  padding-left: 65vw;
}

.right.variation {
  padding-left: 60vw;
  padding-right: 10vw;
}

.header {
  margin-bottom: 3vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.img-1{
  width: 35vw;
  height: 35vh;
  margin-left: 40vw;
}

.img-2 {
  width: 35vw;
  height: 35vh;
  margin-left: 50vw;
}

.img-3 {
  width: 35vw;
  height: 35vh;
  margin-left: 45vw;
}

.element {
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mobile {
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg)
}
/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .left {
    padding-left: 15vw;
  }

  .right {
    padding-left: 15vw;
    padding-right: 5vw;
  }
  
  .right.variation {
    padding-left: 15vw;
    padding-right: 5vw;
  }

  .img-1,
  .img-2,
  .img-3 {
    width: 80vw;
    height: 30vh;
    margin-left: 10vw;
  }

  .left h4 {
    font-size: 4vw;
  }
  
  .left h1 {
    font-size: 5vw;
  }
}


/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .left {
    padding-left: 5vw;
  }

  .left h1 {
    font-weight: 200; 
    letter-spacing: 0.1rem;
    width: 30vw;
  }

  .right {
    padding-left: 55vw;
    padding-right: 5vw;
  }
  
  .right.variation {
    padding-left: 45vw;
    padding-right: 5vw;
  }

  .img-1,
  .img-2,
  .img-3 {
    width: 60vw;
    height: 30vh;
    margin-left: 30vw;
  }
}

/* Laptop devices (portrait and landscape) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .left h1 {
    font-weight: 200; 
    letter-spacing: 0.1rem;
    width: 30vw;
  }

  .right {
    padding-left: 55vw;
    padding-right: 5vw;
  }
  
  .right.variation {
    padding-left: 45vw;
    padding-right: 5vw;
  }
}

/* Desktop devices (portrait and landscape) */
@media only screen and (min-width: 1441px) {

}
