.projects-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  margin-top: 20vh;
}

.projects-container>h1 {
  font-family: "Rasa", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 4vw;
  letter-spacing: 0.5rem;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  font-size: 2.25vw;
}

.titles h1 {
  letter-spacing: 0.4vw;
  z-index: 2;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.titles h1.active,
.titles h1:hover {
  opacity: 1;
}

.display-wrapper {
  margin-left: -10vw;
  width: 100%;
}

.display {
  position: relative;
  height: 50vh;
  width: 40vw;
}

.display video {
  opacity: 1;
  filter: brightness(0.7) grayscale(0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.display:hover .button-wrapper {
  transition: all 0.5s ease-in-out;
  display: flex;
}

.display:hover video {
  filter: brightness(0.4) grayscale(0.3);
}

.button-wrapper {
  position: absolute;
  top: 50%;
  width: 40vw;
  left: 50%;
  bottom: 1.5vh;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  justify-content: center;
  /* flex-direction: row-reverse;
  justify-content: space-between; */
  padding: 0 5%;;
  align-items: center;
  gap: 5%;
  z-index: 3;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-wrapper a {
  width: 50%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
}

.button-wrapper button {
  transition: all 0.5s ease-in-out;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 2vh;
  border-radius: 1rem;
  padding:0.5vw 2vw;
  background-color: transparent;
  border: 1px solid white;
}

.button-wrapper button img {
  width: 1rem;
}

.button-wrapper button:hover {
  background-color: white;
  color: black;
}

.button-wrapper button:hover img {
  filter: invert(1);
}

/* 
.button-wrapper .website {
  background-color: white;
  color: black;
  transition: all 0.4s ease-in-out;
}

.button-wrapper .website img {
  filter: invert(1);
}

.button-wrapper .website:hover {
  background-color: black;
  color: white;
}

.button-wrapper .website:hover img {
  filter: none;
}

.button-wrapper .case-study {
  display: none;
  background: black;
  color: white;
  transition: all 0.4s ease-in-out;
}

.button-wrapper .case-study:hover {
  background-color: white;
  color: black;
}

.button-wrapper .case-study:hover img {
  filter: invert(1);
} */

.projects-container>button {
  display: none;
  background-color: transparent;
  color: white;
  text-align: center;
  white-space: nowrap;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 20vw;
  font-size: 3vh;
  border-radius: 2vw;
  padding:0.5vw 2vw;
  transition: all 0.5s ease-in-out;
}

.projects-container>button img {
  width: 3vh;
}

.projects-container>button:hover {
  background-color: white;
  color: black;
}

.projects-container>button:hover img {
  filter: invert(1);
}

h1.active {
  animation: glitch 1s linear infinite;
  color: white;
  z-index: 999;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

h1.active:before,
h1.active:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

h1.active:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

h1.active:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30vh;
    width:80vw;
    border-radius: 1rem;
  }

  .display-wrapper {
    margin: 0;
  }

  .projects-wrapper {
    flex-direction: column;
    gap: 4vh;
  }

  .titles {
    width: 100%;
    font-size: 1.4vh;
  }

  .button-wrapper {
    width:80vw;
  }

  .button-wrapper button {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 2.5vw;
    border-radius: 2rem;
    padding:0.75vh 1.75vh;
  } 

  .projects-container>button {
    width: 45vw;
    border-radius: 3vh;
    font-size: 2vw;
  }
}

/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .display {
    position: relative;
    height: 50vh;
    width: 50vw;
  }

  .display-wrapper {
    margin-left: -16vw;
    width: 100%;
  }
  
  .titles {
    font-size: 3vw;
  }

  .button-wrapper {
    width: 70vw;
  }
  
  .button-wrapper button {
    width: 50%;
    font-size: 2vh;
    border-radius: 2vw;
  } 

  .projects-container>button {
    width: 30vw;
    font-size: 2vh;
    border-radius: 3vh;
  }
}

/* Laptop devices (portrait and landscape) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .display {
    position: relative;
    height: 50vh;
    width: 45vw;
  }

  .titles {
    font-size: 3vw;
  }

  .button-wrapper button {
    width: 70%;
    font-size: 2vh;
  } 

  .projects-container>button {
    width: 30vw;
    font-size: 3vh;
    border-radius: 3vh;
  }
}

/* Desktop devices (portrait and landscape) */
@media only screen and (min-width: 1441px) {

}
