@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

p, li, a {
  font-family: "Roboto", sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-family: "Reem Kufi", sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}

/* Laptop devices (portrait and landscape) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}

/* Desktop devices (portrait and landscape) */
@media only screen and (min-width: 1441px) {
  html {
    font-size: 20px;
  }
}

/* COPY */
/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

}

/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Laptop devices (portrait and landscape) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {

}

/* Desktop devices (portrait and landscape) */
@media only screen and (min-width: 1441px) {

}
